/* Applying border-box to all element */
html {
    box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after */
*,*:before,*:after{
    box-sizing: inherit;
}

/* common CSS */
.button-bg{
	background-color: #6DA34D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active{
	border-bottom: 3px solid #000 !important;
}

.site-color{
	color: #6DA34D!important;
}

/* Designing Navbars */
.navbar-toggler-icon{
    background-image: url('../Images/toggle.png');
}

.nav-link{
	color: #000!important;
}


/* grass */
/* .grass{
	position: fixed;
	bottom: 206px;
} */

/* About.html */

/* Designing about section */
.about-us-desc,.contact{
	width: 60%;
	margin: 0 auto;
}

.about-us-desc q,.contact q{
	color: #000!important;
}

/* Styling contact us */

.fa-twitter{
	color: #1DA1F2 !important;
}

.fa-linkedin{
	color: #0077b5!important;
}

/* Styling service.html */
.service-type img{
	width: 30%;
	height: auto;
}

.service-type{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.service-desc{
	font-style: normal;
	font-weight: bold;
}